@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/source-serif-pro');

.container {
    margin: auto;
    margin-top: 32px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 800px;
}

.typheader1 {
    min-width: 800px;
    font-family: 'Work Sans', sans-serif;
    font-size: 35px;
    font-weight: 600;
    line-height: 40px;   
    color: rgba(24, 26, 42, 1);
    margin-top: 16px;
    margin-bottom: 20px;
}

.divheader1 {
    display: flex;
}

.typheader2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;  
    line-height: 28px;   
    color: rgba(24, 26, 42, 1);
}

.typparagraph {
    font-family: 'Source Serif Pro', sans-serif;
    font-size: 20px;
    font-weight: 400; 
    line-height: 32px;
    color: rgba(59, 60, 74, 1);  
}

.typparagraph1 {
    font-family: 'Source Serif Pro', sans-serif;
    font-size: 24px;
    font-weight: 400;   
    font-style: italic;
    padding: 32px;
    background-color: rgb(245, 245, 245);
    border-radius: 12px;
}

.typparagraph2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    background-color: rgba(232, 232, 234, 1);
    padding-top: 15px;
    padding-bottom: 15px;
    min-width: 750px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 12px;
}

.typparagraph4 {
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: white;
    background-color: rgba(75, 107, 251, 1);
    max-width: 101px;
    max-height: 32px;
    border-radius: 6px;
    padding: 6px 12px;
    text-align: center;
}

.typparagraph3 {
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: rgba(105, 106, 117, 1);
    align-self: center;
    line-height: 20px;
}